@model RSSFilter.Common.ListViewModel<RSSFilter.Models.RSSServiceInfo>
@{
    ViewBag.Title = "RSS Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using RSSFilter.Models
@using RSSFilter.Common


<div class="content-wrapper" data-type="rss-services">
    <div class="main-title">
        <h2>RSS Background Services</h2>
    </div>
    <div class="list-control-header">
        @Html.Partial("_PageSize", Model.control.pager)
    </div>
    @{ string colName; }
    <table class="table table-bordered table-hover rss-item-table">
        <thead>
            <tr class="header-row">
                @{ colName = "Name"; }
                <th data-col="@colName">
                    <a href="@Url.Action("SortBy", "Service",
                        new { prop = colName, ascending = (Model.control.sorter.Name.Equals(colName) ?
                        (Model.control.sorter.Ascending ? false : true) : true) })">
                        <span class="text">@Html.DisplayNameFor(m => m.items.ElementAt(0).Name)</span>
                        <span class="sort-icon">
                            @Html.Raw(Model.control.sorter.Name.Equals(colName) ? (Model.control.sorter.Ascending ? "&#x25b4" : "&#x25be") : "")
                        </span>
                    </a>
                </th>
                @{ colName = "RSSURL"; }
                <th data-col="@colName">
                    <a href="@Url.Action("SortBy", "Service",
                        new { prop = colName, ascending = (Model.control.sorter.Name.Equals(colName) ?
                        (Model.control.sorter.Ascending ? false : true) : true) })">
                        <span class="text">@Html.DisplayNameFor(m => m.items.ElementAt(0).RSSURL)</span>
                        <span class="sort-icon">
                            @Html.Raw(Model.control.sorter.Name.Equals(colName) ? (Model.control.sorter.Ascending ? "&#x25b4" : "&#x25be") : "")
                        </span>
                    </a>
                </th>
                @{ colName = "LastStartDate"; }
                <th data-col="@colName">
                    <a href="@Url.Action("SortBy", "Service",
                        new { prop = colName, ascending = (Model.control.sorter.Name.Equals(colName) ?
                        (Model.control.sorter.Ascending ? false : true) : true) })">
                        <span class="text">@Html.DisplayNameFor(m => m.items.ElementAt(0).LastStartDate)</span>
                        <span class="sort-icon">
                            @Html.Raw(Model.control.sorter.Name.Equals(colName) ? (Model.control.sorter.Ascending ? "&#x25b4" : "&#x25be") : "")
                        </span>
                    </a>
                </th>
                @{ colName = "IsRunning"; }
                <th data-col="@colName">
                    <a href="@Url.Action("SortBy", "Service",
                        new { prop = colName, ascending = (Model.control.sorter.Name.Equals(colName) ?
                        (Model.control.sorter.Ascending ? false : true) : true) })">
                        <span class="text">@Html.DisplayNameFor(m => m.items.ElementAt(0).IsRunning)</span>
                        <span class="sort-icon">
                            @Html.Raw(Model.control.sorter.Name.Equals(colName) ? (Model.control.sorter.Ascending ? "&#x25b4" : "&#x25be") : "")
                        </span>
                    </a>
                </th>
                @{ colName = "Delete"; }
                <th data-col="@colName"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.items)
            {
                <tr class="rss-item-row">
                    @{ colName = "Name"; }
                    <td data-col="@colName">
                        <span class="content">
                            @Html.DisplayFor(m => item.Name)
                        </span>
                    </td>
                    @{ colName = "RSSURL"; }
                    <td data-col="@colName">
                        <span class="content">
                            @Html.DisplayFor(m => item.RSSURL)
                        </span>
                    </td>
                    @{ colName = "LastStartDate"; }
                    <td data-col="@colName">
                        <span class="content">
                            @if (item.IsRunning == true)
                            {
                                @Html.DisplayFor(x => item.LastStartDate)
                            }
                        </span>
                    </td>
                    @{ colName = "IsRunning"; }
                    <td data-col="@colName">
                        <span class="content">
                            @if (item.IsRunning == true)
                            {
                                <a class="text-success" href="@Url.Action("Stop", "Service", new { id = item.Id })">Active</a>
                            }
                            else
                            {
                                <a class="text-danger" href="@Url.Action("Start", "Service", new { id = item.Id })">Inactive</a>
                            }
                        </span>
                    </td>
                    @{ colName = "Delete"; }
                    <td data-col="@colName">
                        <span class="content">
                            <a class="text" href="@Url.Action("Delete", "Service", new { id = item.Id })"><i class="material-icons">delete</i></a>
                        </span>
                    </td>
                </tr>
             }
            <tr class="rss-item-row">
                @{ colName = "Name"; }
                <td data-col="@colName">
                        @Html.TextBox("RSSServiceInfo.Name", "", new { @class = "form-control", placeholder = "Name", form = "new_service" })
                </td>
                @{ colName = "RSSURL"; }
                <td data-col="@colName">
                    <span class="content">
                        @Html.TextBox("RSSServiceInfo.RSSURL", "", new { @class = "form-control", placeholder = "URL", form = "new_service" })
                    </span>
                </td>
                @{ colName = "LastStartDate"; }
                <td data-col="@colName">
                    <span class="content">
                    </span>
                </td>
                @{ colName = "IsRunning"; }
                <td data-col="@colName">
                    <span class="content">
                        <button type="submit" class="btn btn-primary" form="new_service">New</button>
                    </span>
                </td>
                @{ colName = "Delete"; }
                <td data-col="@colName">
                    <span class="content">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    @Html.Partial("_PageControls", Model.control.pager)
</div>
@using (Html.BeginForm("Create", "Service", FormMethod.Post, new { enctype = "multipart/form-data", id = "new_service" })) { }

@*<h2>RSS Background Services</h2>

@{ int idx; }

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="table-cell-pair-left">
                <a href="@Url.Action("Index", "Service", new { sortOrder = ViewBag.NameSortParm })">
                    @Html.DisplayNameFor(m => m.RSSServiceInfo.Name)
                </a>
            </th>
            <th class="nostretch table-cell-pair-right">
                <a href="@Url.Action("Index", "Service", new { sortOrder = ViewBag.NameSortParm })">
                    <div class="arrow-up-down">
                        <div class="arrow">&#x25b2</div>
                        <div class="arrow arrow-hidden">&#x25bc</div>
                    </div>
                </a>
            </th>
            <th class="table-cell-pair-left">
                <a href="@Url.Action("Index", "Service", new { sortOrder = ViewBag.URLSortParm })">
                    @Html.DisplayNameFor(m => m.RSSServiceInfo.RSSURL)
                </a>
            </th>
            <th class="nostretch table-cell-pair-right">
                <a href="@Url.Action("Index", "Service", new { sortOrder = ViewBag.URLSortParm })">
                    <div class="arrow-up-down">
                        <div class="arrow">&#x25b2</div>
                        <div class="arrow arrow-hidden">&#x25bc</div>
                    </div>
                </a>
            </th>
            <th class="nostretch table-cell-pair-left">
                <a href="@Url.Action("Index", "Service", new { sortOrder = ViewBag.LastStartDateSortParm })">
                    @Html.DisplayNameFor(m => m.RSSServiceInfo.LastStartDate)
                </a>
            </th>
            <th class="nostretch table-cell-pair-right">
                <a href="@Url.Action("Index", "Service", new { sortOrder = ViewBag.LastStartDateSortParm })">
                    <div class="arrow-up-down">
                        <div class="arrow">&#x25b2</div>
                        <div class="arrow arrow-hidden">&#x25bc</div>
                    </div>
                </a>
            </th>
            <th class="nostretch table-cell-pair-left">
                <a href="@Url.Action("Index", "Service", new { sortOrder = ViewBag.StatusSortParm })">
                    @Html.DisplayNameFor(m => m.RSSServiceInfo.IsRunning)
                </a>
            </th>
            <th class="nostretch table-cell-pair-right">
                <a href="@Url.Action("Index", "Service", new { sortOrder = ViewBag.StatusSortParm })">
                    <div class="arrow-up-down">
                        <div class="arrow">&#x25b2</div>
                        <div class="arrow arrow-hidden">&#x25bc</div>
                    </div>
                </a>
            </th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @{ idx = 0; }
        @foreach (var rssServiceInfo in Model.RSSServiceInfoes)
            {
            <tr>
                <td colspan="2">
                    @Html.DisplayFor(m => rssServiceInfo.Name)
                    <input data-val="true" data-val-length="The field Name must be a string with a maximum length of 255." data-val-length-max="255" data-val-required="The Name field is required." form="update_service@(idx)" id="rssServiceInfo_Name" name="rssServiceInfo.Name" type="hidden" value="@rssServiceInfo.Name">
                </td>
                <td colspan="2">
                    @Html.DisplayFor(m => rssServiceInfo.RSSURL)
                    <input data-val="true" data-val-required="The RSSURL field is required." form="update_service@(idx)" id="rssServiceInfo_RSSURL" name="rssServiceInfo.RSSURL" type="hidden" value="@rssServiceInfo.RSSURL">
                </td>
                <td class="table-cell-center" colspan="2">
                    @if (rssServiceInfo.IsRunning == true)
                    {
                        @Html.DisplayFor(x => rssServiceInfo.LastStartDate)
                    }
                </td>
                <td class="nostretch" colspan="2">
                    @if (rssServiceInfo.IsRunning == true)
                    {
                        <button type="submit" class="btn btn-success" name="command" value="Stop" form="update_service@(idx)">Active</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-danger" name="command" value="Start" form="update_service@(idx)">Inactive</button>
                    }
                </td>
                <td class="nostretch">
                    <button type="submit" class="btn btn-danger" name="command" value="Delete" form="update_service@(idx)">&#10006</button>
                </td>
            </tr>
            idx++;
        }

        <tr>
            <td class="form-cell" colspan="2">
                @Html.TextBoxFor(m => m.RSSServiceInfo.Name, new { @class = "form-control", placeholder = "Name", form = "new_service" })
            </td>
            <td class="form-cell" colspan="2">
                @Html.TextBoxFor(m => m.RSSServiceInfo.RSSURL, new { @class = "form-control", placeholder = "RSS Feed URL", form = "new_service" })
            </td>
            <td class="nostretch" colspan="2"></td>
            <td class="nostretch" colspan="2">
                <button type="submit" class="btn btn-primary" name="command" value="Create" form="new_service">New</button>
            </td>
            <td class="nostretch"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="table-cell-hidden">
                @Html.ValidationMessageFor(m => m.RSSServiceInfo.Name)
            </td>
            <td class="table-cell-hidden" ">
                @Html.ValidationMessageFor(m => m.RSSServiceInfo.RSSURL)
            </td>
            <td class="table-cell-hidden" "></td>
            <td class="table-cell-hidden" "></td>
            <td class="table-cell-hidden" "></td>
        </tr>
    </tfoot>

</table>
@using (Html.BeginForm("Submit", "Service", FormMethod.Post, new { enctype = "multipart/form-data", id = "new_service" })) { }
@{ idx = 0; }
@foreach (var rssServiceInfo in Model.RSSServiceInfoes)
{
    using (Html.BeginForm("Submit", "Service", FormMethod.Post, new { enctype = "multipart/form-data", id = "update_service" + idx })) { }
    idx++;
}*@
