<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("RSSFilter", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="@Url.Action("Index", "RSS")">Browse <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("All RSS Items", "Index", "RSS", new { all = true }, new { })</li>
                        <li>@Html.ActionLink("Artists", "Artists", "RSS")</li>
                        <li>@Html.ActionLink("Types", "ItemTypes", "RSS")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Service", "Index", "Service")</li>
            </ul>
                    @Html.Partial("_LoginPartial")
</div>
    </div>
</div>

